{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
  {% assign categories = entry.categories[1] | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
  {% assign categories = entry.categories[1] %}
{% endif %}

{% for category in categories %}
  {% if category contains 'ONGOING' %}
    {% assign cat = 'ONGOING' %}
  {% endif %}
  {% if category contains 'COMPLETED' %}
    {% assign cat = 'COMPLETED' %}
  {% endif %}
  {% if category contains 'STUB' %}
    {% assign cat = 'STUB' %}
  {% endif %}
  {% if category contains 'HIATUS' %}
    {% assign cat = 'HIATUS' %}
  {% endif %}
{% endfor %}

{% assign tags_name = "" %}
{% assign tags_img_list = "" %}

{% for tag in entry.tags %}
  {% assign tags_name = tags_name | prepend: tag | prepend: "," %}
  {% if tag contains 'WLW' %}
    {% assign tags_img_list = tags_img_list | append: ',' | append: 'images/lesbian.png' %}
  {% endif %}
  {% if tag contains 'MLM' %}
    {% assign tags_img_list = tags_img_list | append: ',' | append: 'images/gay.png' %}
  {% endif %}
  {% if tag contains 'Trans' %}
    {% assign tags_img_list = tags_img_list | append: ',' | append: 'images/trans.png' %}
  {% endif %}
  {% if tag contains 'Bi' %}
    {% assign tags_img_list = tags_img_list | append: ',' | append: 'images/bi.png' %}
  {% endif %}
  {% if tag contains 'Ace' %}
    {% assign tags_img_list = tags_img_list | append: ',' | append: 'images/ace.png' %}
  {% endif %}
  {% if tag contains 'Queer' %}
    {% assign tags_img_list = tags_img_list | append: ',' | append: 'images/queer.png' %}
  {% endif %}
  {% if tag contains 'Intersex' %}
    {% assign tags_img_list = tags_img_list | append: ',' | append: 'images/int.png' %}
  {% endif %}
{% endfor %}
{% assign tags_img_list = tags_img_list | remove_first: "," %}
{% assign tags_name = tags_name | prepend: cat %}
{% assign tag_arr = tags_img_list | split: "," %}

<article class="entry h-entry" data-category="{{ tags_name }}">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      {% if entry.link %}
        <a class="u-bookmark-of" href="{{ entry.link }}">
          {% if entry.image.path %}
            {% assign entry_image = entry.image.path %}
            {% unless entry_image contains '://' %}
              {% assign entry_image = entry_image | relative_url %}
            {% endunless %}
            {% assign entry_image = entry_image | escape %}

            <img class="entry-image u-photo" src="{{ entry_image }}" alt="" onerror="this.onerror=null; this.src='https://royalroadlgbtqia.github.io/list/images/nofound.png'">
          {% endif %}
          <div class="entry-excerpt p-summary" maxlength="20">
            {{ title }} 

          {%- for tag_img in tag_arr -%}
            <img src="{{ tag_img }}" width="22" height="22" style='margin-right:1px;display:inline;'>
          {%- endfor -%}
            <br>
          <time class="entry-date dt-published" datetime="{{ entry.date | date_to_xmlschema }}" id="fix_time_format">
            {{ cat }} -Updated:&nbsp; {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            {{ entry.date | date: date_format }}
          </time>
          <div id="fix_excerpts_format">
          {% unless page.show_excerpts == false %}
            
              {% if entry.excerpt %}
                {{ entry.excerpt | markdownify }}
              {% endif %}
            
          {% endunless %}</div>
        </div>
        </a> <a href="{{ entry.link }}" rel="bookmark"></a>
      {% else %}
        <a href="{{ entry.url | relative_url }}" rel="bookmark">{{ title }}</a> 
      {% endif %}
    </h3>
  </header>
  
  {% if site.read_time or entry.date and page.layout != 'collection' %}
  {% endif %}
</article>
